.github**                                                   @filiphsps
/packages/prismarine/src/ban/**                             @filiphsps
/packages/prismarine/src/block/**                           @filiphsps
/packages/prismarine/src/command/**                         @filiphsps
/packages/prismarine/src/permission/**                      @filiphsps
/packages/prismarine/src/plugin/**                          @filiphsps
/packages/prismarine/src/query/**                           @filiphsps
/packages/prismarine/src/entity/**                          @filiphsps

/packages/prismarine/src/nbt/**                             @enricoangelon
/packages/prismarine/src/network/**                         @enricoangelon
/packages/prismarine/src/world/**                           @enricoangelon

/packages/prismarine/src/config/**                          @TheArmagan

/packages/prismarine/src/events/EventEmitterishMixin.ts     @garronej
