{
    "extends": ["eslint:recommended"],
    "env": {
        "es6": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "BigInt": true,
        "NodeJS": true
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": ["unused-imports"],
    "rules": {
        "unicorn/filename-case": 0,
        "unicorn/prevent-abbreviations": 0,
        "unicorn/no-process-exit": 0,
        "unicorn/explicit-length-check": 0,
        "unicorn/no-abusive-eslint-disable": 0,
        "unicorn/prefer-math-trunc": 0,
        "unicorn/prefer-ternary": 0,
        "unicorn/better-regex": 0,
        "unicorn/escape-case": 0,
        "unicorn/catch-error-name": 0,
        "unicorn/prefer-spread": 0,
        "unicorn/no-empty-file": 0,
        "unicorn/prefer-date-now": 1,
        "unicorn/no-lonely-if": 1,
        "unicorn/no-array-reduce": 0,
        "unicorn/no-array-for-each": 0,
        "unicorn/no-array-push-push": 1,
        "unicorn/no-new-array": 1,
        "unicorn/prefer-switch": 1,
        "unicorn/no-negated-condition": 0,
        "unicorn/no-typeof-undefined": 0,
        "unicorn/numeric-separators-style": 0,
        "unicorn/prefer-module": 1,
        "unicorn/prefer-array-flat-map": 1,
        "unicorn/prefer-node-protocol": 0,
        "unicorn/prefer-event-target": 0,
        "import/no-named-as-default": 0,
        "import/order": 0,
        "import/no-cycle": 1,
        "@typescript-eslint/member-ordering": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-implicit-any-catch": 0,
        "@typescript-eslint/no-implicit-coercion": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "@typescript-eslint/restrict-template-expressions": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-extraneous-class": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/prefer-for-of": 1,
        "@typescript-eslint/no-base-to-string": 0,
        "@typescript-eslint/consistent-type-assertions": 0,
        "@typescript-eslint/prefer-nullish-coalescing": 1,
        "@typescript-eslint/prefer-literal-enum-member": 0,
        "@typescript-eslint/restrict-plus-operands": 0,
        "@typescript-eslint/prefer-readonly": 0,
        "@typescript-eslint/prefer-ts-expect-error": 0,
        "@typescript-eslint/lines-between-class-members": 0,
        "@typescript-eslint/no-confusing-void-expression": 0,
        "@typescript-eslint/non-nullable-type-assertion-style": 1,
        "@typescript-eslint/explicit-member-accessibility": 1,
        "@typescript-eslint/no-unnecessary-type-assertion": 0,
        "@typescript-eslint/no-array-constructor": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-unsafe-argument": 0,
        "@typescript-eslint/no-unused-vars": 0,
        "@typescript-eslint/return-await": 0,
        "@typescript-eslint/no-non-null-asserted-optional-chain": 1,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/no-unsafe-member-access": 1,
        "@typescript-eslint/no-redeclare": 1,
        "@typescript-eslint/no-unsafe-call": 1,
        "@typescript-eslint/no-unsafe-return": 1,
        "@typescript-eslint/no-unsafe-assignment": 0,
        "@typescript-eslint/no-require-imports": 1,
        "@typescript-eslint/no-unused-expressions": 0,
        "@typescript-eslint/class-literal-property-style": 0,
        "@typescript-eslint/no-unsafe-enum-comparison": 0,
        "no-redeclare": 1,
        "no-inferrable-types": 0,
        "prefer-destructuring": 0,
        "new-cap": 0,
        "one-var": 0,
        "no-sequences": 0,
        "no-multi-assign": 1,
        "padding-line-between-statements": 0,
        "prefer-exponentiation-operator": 0,
        "no-use-extend-native/no-use-extend-native": 0,
        "no-return-assign": 0,
        "no-control-regex": 0,
        "no-unused-vars": 0,
        "no-async-promise-executor": 0,
        "no-negated-condition": 0,
        "no-promise-executor-return": 0,
        "no-case-declarations": 0,
        "no-fallthrough": 0,
        "no-await-in-loop": 0,
        "no-return-await": 0,
        "max-depth": 0,
        "capitalized-comments": 0,
        "no-lonely-if": 0,
        "guard-for-in": 0,
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "error",
            { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
        ],
        "max-params": 0
    }
}
