{
    "$schema": "https://json.schemastore.org/eslintrc.json",
    "root": true,
    "env": {
        "es2024": true,
        "node": true
    },
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["@typescript-eslint", "eslint-plugin-jsdoc", "import", "prettier", "unused-imports"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": "latest",
        "project": [
            "./tsconfig.json",
            "./tsconfig.build.json",
            "./tsconfig.test.json",
            "./packages/**/tsconfig.json",
            "./packages/**/tsconfig.build.json",
            "./packages/**/tsconfig.test.json"
        ]
    },
    "rules": {
        "@typescript-eslint/consistent-type-exports": ["error", { "fixMixedExportsWithInlineTypeSpecifier": false }],
        "@typescript-eslint/consistent-type-imports": [
            "error",
            { "fixStyle": "separate-type-imports", "prefer": "type-imports" }
        ],
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-unnecessary-condition": "warn",
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "consistent-return": "error",
        "import/first": "off",
        "import/order": "off",
        "indent": "off",
        "jsdoc/check-alignment": "error",
        "jsdoc/check-indentation": "off",
        "jsdoc/check-line-alignment": "error",
        "jsdoc/check-param-names": "warn",
        "jsdoc/check-property-names": "error",
        "jsdoc/check-syntax": "error",
        "jsdoc/check-types": "error",
        "jsdoc/require-hyphen-before-param-description": "error",
        "no-console": [
            "error",
            {
                "allow": ["debug", "warn", "error"]
            }
        ],
        "no-mixed-operators": "off",
        "no-unused-vars": "off",
        "no-useless-constructor": "off",
        "prettier/prettier": "error",
        "semi": "off",
        "sort-imports": "off",
        "standard/computed-property-even-spacing": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "varsIgnorePattern": "^_",
                "args": "after-used",
                "argsIgnorePattern": "^_"
            }
        ]
    }
}
