node_modules/

.test/
.vitest/
build/
coverage/
dist/
jsp/
public/

*.json
*.lock
*.env
*.log
*.bak
*.dat
*.nbt

vite.config.ts
vitest.config.ts
packages/bedrock-data/utils/build.js
packages/bedrock-data/src/resources/
