{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "es6": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "BigInt": true
    },
    "rules": {
        "sort-imports": [
            "warn",
            {
                "ignoreCase": false,
                "ignoreDeclarationSort": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "all",
                    "multiple",
                    "single"
                ],
                "allowSeparatedGroups": false
            }
        ],
        "eslint-comments/no-unused-disable": 0,
        "unicorn/filename-case": 0,
        "unicorn/prevent-abbreviations": 0,
        "unicorn/no-process-exit": 0,
        "unicorn/explicit-length-check": 0,
        "unicorn/no-abusive-eslint-disable": 0,
        "unicorn/prefer-math-trunc": 0,
        "unicorn/prefer-ternary": 0,
        "import/no-named-as-default": 0,
        "@typescript-eslint/member-ordering": 0,
        "@typescript-eslint/ban-types": 0,
        "@typescript-eslint/no-implicit-any-catch": 0,
        "@typescript-eslint/no-useless-constructor": 0,
        "@typescript-eslint/restrict-template-expressions": 0,
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-extraneous-class": 0,
        "@typescript-eslint/no-empty-function": 0,
        "@typescript-eslint/prefer-for-of": 1,
        "@typescript-eslint/no-base-to-string": 0,
        "@typescript-eslint/consistent-type-assertions": 0,
        "@typescript-eslint/prefer-nullish-coalescing": 1,
        "@typescript-eslint/prefer-literal-enum-member": 0,
        "@typescript-eslint/restrict-plus-operands": 0,
        "@typescript-eslint/prefer-readonly": 0,
        "@typescript-eslint/prefer-ts-expect-error": 0,
        "@typescript-eslint/lines-between-class-members": 0,
        "no-inferrable-types": 0,
        "new-cap": 0,
        "one-var": 0,
        "no-sequences": 0,
        "no-multi-assign": 1,
        "padding-line-between-statements": 0,
        "prefer-exponentiation-operator": 0,
        "no-return-assign": 0,
        "no-control-regex": 0,
        "no-async-promise-executor": 0,
        "no-negated-condition": 0,
        "no-promise-executor-return": 0,
        "no-case-declarations": 0,
        "no-fallthrough": 0,
        "no-await-in-loop": 0,
        "max-depth": 0,
        "capitalized-comments": 0
    }
}
