# Node.js things
node_modules
/coverage/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# JSPRismarine things
/dist/
/packages/
/plugins/
/worlds/
/cache/
/src/resources/
/docs/
config.yaml
ops.json
banned-players.json
*.log

# Text editors/IDE things
.idea
.vscode
.DS_Store
