# Node.js things
node_modules/
yarn.lock
coverage/

# JSPrismarine things
dist/
/plugins/
/builds/
/worlds/
config.yaml
ops.json
banned-players.json
permissions.json
*.log
/logs/
/jsp/

# Build
.tsup
vite.config.ts.timestamp*

# Turbo cache
.turbo/

# Text editors/IDE things
.idea
.DS_Store
report.*.json
*.cpuprofile
*.tsbuildinfo
