# Ignore artifacts
build
coverage
node_modules
dist
.next
.vercel
.turbo

**/*.woff2
**/*.ttf

.DS_Store
.swc
.bak

packages/bedrock-data/src/resources/*
packages/bedrock-data/src/generated/*

# Test files
.test/config_test.*

# File formats
*.dat
*.nbt
*.yaml
*.yml
*.hbs
*.md
