name: Build artifacts
on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: npm install
            - run: npm run build
            - run: npm run package
            - uses: actions/upload-artifact@v2
              with:
                  name: jsprismarine-x64-linux
                  path: packages/jsprismarine-linux
            - uses: actions/upload-artifact@v2
              with:
                  name: jsprismarine-x64-macos
                  path: packages/jsprismarine-macos
            - uses: actions/upload-artifact@v2
              with:
                  name: jsprismarine-x64-win32.exe
                  path: packages/jsprismarine-win.exe
    docs:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: npm install
            - run: npm run docs
            - uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./docs
                enable_jekyll: false
                cname: prismarine.dev
