name: Build artifacts
on:
    push:
        branches:
            - master

jobs:
    artifacts:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: lerna bootstrap
            - run: npm install
            - run: npm run build
            - run: npm prune --production
            - run: npm install -g github:vercel/pkg # TODO: Use npm version
            - run: npm run package
            - uses: actions/upload-artifact@v2
              with:
                  name: prismarine-x64-linux
                  path: builds/prismarine-linux
            - uses: actions/upload-artifact@v2
              with:
                  name: prismarine-x64-macos
                  path: builds/prismarine-macos
            - uses: actions/upload-artifact@v2
              with:
                  name: prismarine-x64-win32
                  path: builds/prismarine-win.exe

