name: Generate Documentations
on:
    push:
        branches:
            - master

jobs:
    artifacts:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: lerna bootstrap
            - run: npm install
            - run: npm run build
            - run: npm run build:docs
            - uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./packages/prismarine/docs
                  enable_jekyll: false
                  cname: code.prismarine.dev
