name: Lintings
on:
    push:
    pull_request:

jobs:
    lint-eslint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: lerna bootstrap
            - run: npm install
            - run: npm run build --ignore @jsprismarine/client
            - run: npm run eslint
    lint-prettier:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: lerna bootstrap
            - run: npm install
            - run: npm run build --ignore @jsprismarine/client
            - run: npm run prettier
    lint-coveralls:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: lerna bootstrap
            - run: npm install
            - run: npm run build --ignore @jsprismarine/client
            - run: npm run coveralls
            - name: Coveralls
              uses: coverallsapp/github-action@master
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
