name: Lintings
on:
    push:
    pull_request:
        branches:
        # Branches from forks have the form 'user:branch-name' so we only run
        # this job on pull_request events for branches that look like fork
        # branches. Without this we would end up running this job twice for non
        # forked PRs, once for the push and then once for opening the PR.
        - '**:**'

jobs:
    lint-eslint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: npm install
            - run: npm run eslint
    lint-prettier:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: npm install
            - run: npm run prettier
    lint-coveralls:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 14
            - run: npm install
            - run: npm run coveralls
            - name: Coveralls
              uses: coverallsapp/github-action@master
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}
