name: Unit & Integration Tests
on:
    push:
    pull_request:

jobs:
    macos-test:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: npm install
            - run: lerna bootstrap
            - run: npm run build
            - run: npm run test
            - run: npm build
    linux-test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 14
            - run: npm install -g npm@latest
            - run: npm install -g lerna
            - run: npm install
            - run: lerna bootstrap
            - run: npm run build
            - run: npm run test
            - run: npm build
